.footer {
  display: flex;
  // flex-direction: column;
  background: $color-secondary;
  width: 1440px;
  height: 367px;
  padding-top: 34px;

  &__left {
    width: 605px;
    height: 100%;
    margin-right: 60px;

    &__subscribe {
      display: flex;
      width: 326px;
      height: 48px;
      margin-top: 33px;
      margin-left: 100px;
      border-radius: 4px;
      background: #ffffff;
      justify-content: space-between;
      align-items: center;
      padding: 0px 2px;
      padding-left: 13px;

      > input {
        border: none;
        margin-left: -18px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
      }

      > input:focus {
        outline: none;
      }

      > input::placeholder {
        color: $color-primary;
        font-weight: 700;
        font-size: 14px;
        font-family: "Montserrat";
        font-style: normal;
      }
    }

    &__subscribe-btn {
      display: flex;
      width: 98px;
      height: 44px;
      align-items: center;
      justify-content: center;
      background: $color-primary;
      cursor: pointer;

      &__text {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      margin-left: 100px;

      &__info {
        color: $color-footer-text;
        margin-top: 40px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 300;
      }

      &__number {
        color: $color-footer-text;
        margin-top: 20px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 300;
      }

      &__address {
        color: $color-footer-text;
        margin-top: 9px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 300;
      }

      &__icons {
        margin-left: 100px;
        margin-top: 24px;
        cursor: pointer;

        > img {
          margin-right: 10.87px;
        }
      }
    }
  }

  &__right {
    // color: white;
    width: 100%;
    margin-left: 60px;

    &__quick-links {
      display: flex;
      // gap: 100px;
      padding-top: 15px;
      &__list {
        &__title {
          color: white;
          margin-bottom: 40px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 14px;
          text-transform: uppercase;
        }
        &__list-item {
          display: flex;
          flex-direction: column;
          > a {
            color: white;
            text-decoration: none;
            margin-bottom: 27px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 13px;
          }
        }
      }
      > :nth-child(1) {
        margin-right: 76px;
      }
      > :nth-child(2) {
        margin-right: 78px;
      }
      > :nth-child(3) {
        margin-right: 47px;
      }
    }
  }
}
